*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* COLORS */
    --yellow-dark: #C47F17;
    --yellow: #DBAC2C;
    --yellow-light: #F1E9C9;

    --purple-dark: #4B2995;
    --purple: #8047F8;
    --purple-ligth: #EBE5F9;

    --base-title: #272221;
    --base-subtitle: #403937;
    --base-text: #574F4D;
    --base-label: #8D8686;
    --base-hover: #D7D5D5;

    --base-button: #E6E5E5;
    --base-input: #EDEDED;
    --base-card: #F3F2F2;
    --background: #FAFAFA;
    --white: #FFFFFF;

    /* FONT FAMILY */
    --balloo2: "Baloo 2", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* TOPOGRAPHY */
    --title-xl: 700 3rem/1.3 var(--balloo2);
    --title-l: 700 2rem/1.3 var(--balloo2);
    --title-m: 700 1.5rem/1.3 var(--balloo2);
    --title-s: 600 1.25rem/1.3 var(--balloo2);
    --title-xs: 600 1.125rem/1.3 var(--balloo2);
    
    --text-l-bold: 600 1.25rem/1.3 var(--roboto);
    --text-l-regular: 400 1.25rem/1.3 var(--roboto);
    --text-m-bold: 600 1rem/1.3 var(--roboto);
    --text-m-regular: 400 1rem/1.3 var(--roboto);
    --text-s: 400 0.875rem/1.3 var(--roboto);
    --text-xs: 600 0.75rem/1.3 var(--roboto);

    --text-tag: 600 0.625rem/1.3 var(--roboto);
    --text-button-g: 600 0.875rem/1.6 var(--roboto);
    --text-button-m: 400 0.75rem/1.6 var(--roboto);

}
/* Default */
#components-page{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
i{
    font-size: 1rem;
    color: var(--purple);
}

/* CLASS COMPONENTS */
.button-text{
    width: 100%;
    padding: 0.75rem;
    background-color: var(--yellow);
    font: var(--text-button-g);
    border: none;
    border-radius: 6px;
    color: var(--white);
    transition: background-color 0.2s linear;
    text-transform: uppercase;
}
.button-text:hover{
    background-color: var(--yellow-dark);
}
.button-icon-and-text{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
    border-radius: 6px;
    background-color: var(--base-button);
    font: var(--text-button-m);
    text-transform: uppercase;
    transition: background-color 0.2s linear;
}
.button-icon-and-text:hover{
    background-color: var(--base-hover);
}
.title-xl{
    font: var(--title-xl);
}