* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --yellow-dark: #C47F17;
    --yellow: #DBAC2C;
    --yellow-light: #F1E9C9;

    --purple-dark: #4B2995;
    --purple: #8047F8;
    --purple-ligth: #EBE5F9;

    --base-title: #272221;
    --base-subtitle: #403937;
    --base-text: #574F4D;
    --base-label: #8D8686;
    --base-hover: #D7D5D5;

    --base-button: #E6E5E5;
    --base-input: #EDEDED;
    --base-card: #F3F2F2;
    --background: #FAFAFA;
    --white: #FFFFFF;

    /* FONT FAMILY */
    --balloo2: "Baloo 2", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* TOPOGRAPHY */
    --title-xl: 700 3rem/1.3 var(--balloo2);
    --title-l: 700 2rem/1.3 var(--balloo2);
    --title-m: 700 1.5rem/1.3 var(--balloo2);
    --title-s: 600 1.25rem/1.3 var(--balloo2);
    --title-xs: 600 1.125rem/1.3 var(--balloo2);

    --text-l-bold: 600 1.25rem/1.3 var(--roboto);
    --text-l-regular: 400 1.25rem/1.3 var(--roboto);
    --text-m-bold: 600 1rem/1.3 var(--roboto);
    --text-m-regular: 400 1rem/1.3 var(--roboto);
    --text-s: 400 0.875rem/1.3 var(--roboto);
    --text-xs: 600 0.75rem/1.3 var(--roboto);

    --text-tag: 600 0.625rem/1.3 var(--roboto);
    --text-button-g: 600 0.875rem/1.6 var(--roboto);
    --text-button-m: 400 0.75rem/1.6 var(--roboto);

}

/* Default */
#components-page {
    padding: 1rem;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

header {
    margin: 0 auto;
    max-width: 70rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    margin: 0 auto;
    max-width: 70rem;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* CLASS COMPONENTS */
.button-text {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--yellow);
    font: var(--text-button-g);
    border: none;
    border-radius: 6px;
    color: var(--white);
    transition: background-color 0.2s linear;
    text-transform: uppercase;
}

.button-text:hover {
    background-color: var(--yellow-dark);
}

.button-icon-and-text {
    width: max-content;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
    border-radius: 6px;
    background-color: var(--base-button);
    font: var(--text-button-m);
    text-transform: uppercase;
    transition: background-color 0.2s linear;
}

.button-icon-and-text:hover {
    background-color: var(--base-hover);
}

.button-icon-and-text i {
    font-size: 1rem;
    color: var(--purple);
}

.button-icon {
    width: max-content;
    padding: 8px;
    background-color: var(--purple-dark);
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s linear;
}

.button-icon:hover {
    background-color: var(--purple);
}

.button-icon i {
    font-size: 1.375rem;
    color: var(--white);
}

.cart {
    width: max-content;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--yellow-light);
    position: relative;
}

.cart i {
    font-size: 1.375rem;
    color: var(--yellow-dark);
}

.cart span {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: -25%;
    right: -25%;
    background-color: var(--yellow-dark);
    border-radius: 100%;
    text-align: center;
    font: var(--text-xs);
    line-height: 1.6;
    color: var(--white);
}

.title-xl {
    font: var(--title-xl);
}

.title-l{
    font: var(--title-l);
}
.title-m{
    font: var(--title-m);
}
.title-s{
    font: var(--title-s);
}
.title-xs{
    font: var(--title-xs);
}

.text-l-bold{
    font: var(--text-l-bold);
}
.text-l-regular{
    font: var(--text-l-regular);
}
.text-m-bold{
    font: var(--text-m-bold);
}
.text-m-regular{
    font: var(--text-m-regular);
}
.text-s{
    font: var(--text-s);
}
.text-xs{
    font: var(--text-xs);
}

.text-tag{
    font: var(--text-tag);
}
.text-button-g{
    font: var(--text-button-g);
}
.text-button-m{
    font: var(--text-button-m);
}

.item{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.item i{
    border-radius: 100%;
    padding: 8px;
    color: var(--white);
}
.item span{
    font: var(--text-m-regular);
    color: var(--base-text);
}

.coffee-card{
    width: 16rem;
    padding: 0 1.5rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}
.coffee-card img{
    margin-bottom: 0.75rem;
}
.tag-coffee{
    width: max-content;
    margin-bottom: 1.25rem;
    padding: 4px 8px;
    border-radius: 100px;
    font: var(--text-tag);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--yellow-light);
    color: var(--yellow-dark);
}
.coffee-card .name-coffee{
    margin-bottom: 8px;
    font: var(--title-s);
    color: var(--base-subtitle);
}
.coffee-card .description{
    margin-bottom: 2.0625rem;
    font: var(--text-s);
    color: var(--base-label);
    text-align: center;
}

.hidden {
    display: none;
}

#info-header {
    display: flex;
    gap: 0.75rem;
}

#location {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--purple-ligth);
    border-radius: 6px;
}

#location i {
    font-size: 1.375rem;
    color: var(--purple-dark);
}

#location span {
    font: var(--text-s);
    color: var(--purple-dark);
}

#intro{
    padding: 5.875rem 0 6.75rem;
    display: flex;
    gap: 3.5rem;
}
#intro img{
    flex: 1;
}
#intro-content{
    display: flex;
    flex-direction: column;
    gap: 4.125rem;
}
#intro-content #title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#items{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.25rem 2.5rem;
}

#coffee-list{
    padding: 2rem 0;
}
#coffee-list h2{
    font: var(--title-l);
    color: var(--base-subtitle);
    margin-bottom: 3.375rem;
}
#coffee-list #list{
    display: flex;
    flex-wrap: wrap;
}