@import url(./global.css);

#main-checkout-container {
    padding: 2.5rem 0;
    display: flex;
    gap: 2rem;
}

#delivery-address {
    width: 40rem;
}

#delivery-address h2 {
    margin-bottom: 1rem;
    font: var(--title-xs);
    color: var(--base-subtitle);
    text-align: left;
}

#delivery-address-container {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

#coffees-selected {
    flex: 1;
}

#coffees-selected h2 {
    margin-bottom: 1rem;
    font: var(--title-xs);
    color: var(--base-subtitle);
    text-align: left;
}

#coffees-selected-container {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.coffee-card-checkout {
    padding: 8px 4px;
    max-height: 5rem;
    display: flex;
    gap: 1.25rem;
    background-color: transparent;
    transition: background 0.2s linear;
}

.coffee-card-checkout:hover {
    background-color: var(--base-card);
}

.coffee-card-checkout img {
    width: auto;
    height: 4rem;
}

.coffee-card-checkout .details-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.coffee-card-checkout .details-actions span:first-child {
    font: var(--text-m-regular);
    color: var(--base-subtitle);
}

.coffee-card-checkout .price {
    margin-left: auto;
    font: var(--text-m-bold);
    color: var(--base-text);
}